<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>

  <tbody>
    <% @camps.each do |camp| %>
      <tr>
        <td><p><%= camp.name %></p></td>
        <td><%= camp.address %></td>

        <td><%= link_to 'Show', camp %></td>
        <td><%= link_to 'Edit', edit_camp_path(camp) %></td>
        <td><%= link_to 'Destroy', camp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <br>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Camp', new_camp_path %>
