  
 <section id="home" data-speed="4" data-type="background">
  <h1 class="text-center"><%= link_to 'Camp Scout', root_path %></h1><br>
  <div style='width: 95%; margin: 0 auto;'>
    <div id="map" class="google-maps">
  <%= render "gmap" %>
    </div>
  </div>
  <div class="text-center"><%= render "/layouts/search_bar" %></div>

<div class="container">
<div class="col-md-10 col-md-offset-1">
  <h3>
    <%= "Camps near #{params[:search].titleize}" %>
  </h3>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Weeks</th>
      <th>Cost</th>
      <th>Distance</th>

      <th colspan="3"></th>
    </tr>
  </thead>
    <tbody>
      <% @camps.each do |f| %>
        <tr>
          <td><%= link_to f.name, camp_path(f), method: "get" %></td>
          <td><%= f.weeks %></td>
          <td><%= f.cost %></td>
          <td><strong><%= f.distance.round(2) %></strong><%= "miles" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
</section>