
  <section id="home" data-speed="4" data-type="background">
   <h1 class="text-center"><%= link_to 'Camp Scout', root_path %></h1><br>
  <div style='width: 95%; margin: 0 auto;'>
    <div id="map" class="google-maps">
  <%= render "gmap" %>
    </div>
  </div>
  <div class="text-center"><%= render "/layouts/search_bar" %></div>

<div class="container">

<table class="table table-hover">
    <tr>
      <th >Name</th><td ><p><%= @camp.name %></p></td>
    </tr>
    <tr>
      <th >Weeks</th><td ><p><%= @camp.weeks %></p></td>
    </tr>
    <tr>
      <th >Cost</th><td ><p><%= @camp.cost %></p></td>
    </tr>  
    <tr>
      <th >Telephone</th><td ><p>
      <a href=tel:<%= @camp.telephone %> name=tel:<%= @camp.telephone %> > <%= @camp.telephone %></a>
      </p></td>
    </tr>
    <tr>
      <th >Website</th><td ><p><a href=<%= @camp.website %> ><%= @camp.website %></a></p></td>
    </tr>
    <tr>
      <th >Address</th><td ><p><%= @camp.address %></p></td>
    </tr> 
</table>

</div>

<span class="text-center">
  <%= form_tag compares_path do %>
  <%= hidden_field_tag :id, @camp.id %>
  <%= submit_tag  "Add to Comparison List", :class => "btn btn-primary" %>
<% end %>
</span>

</section>
