<section id="home" data-speed="4" data-type="background">
   <h1 class="text-center"><%= link_to 'Camp Scout', root_path %></h1>
   <br>
    <div style='width: 95%; margin: 0 auto;'>
      <div id="map" class="google-maps"><%= render "gmap" %></div>
    </div>
  <div class="text-center"><%= render "/layouts/search_bar" %></div>

  <div class="container">
    <div class="table-responsive">
      <table class="table table-hover">
          <tr>
            <th>Name</th>
            <td><%= @camp.name %></td>
          </tr>
          <tr>
            <th>Weeks</th>
            <td><%= @camp.weeks %></td>
          </tr>
          <tr>
            <th>Cost</th>
            <td><%= @camp.cost %></td>
          </tr>  
          <tr>
            <th>Telephone</th>
            <td><a href=tel:<%= @camp.telephone %> name=tel:<%= @camp.telephone %> > <%= @camp.telephone %></a></td>
          </tr>
          <tr>
            <th >Website</th>
            <td><a href=<%= @camp.website %> target="new"><%= @camp.website %></a></td>
          </tr>
          <tr>
            <th>Address</th>
            <td><%= @camp.address %></td>
          </tr> 
      </table>
    </div>
  </div>
  
  <span class="text-center">
    <%= form_tag compares_path do %>
    <%= hidden_field_tag :id, @camp.id %>
    <%= submit_tag  "Add to Comparison List", :class => "btn btn-primary" %>
  <% end %>
  </span>
</section>
