<div style='width: 95%; margin: 0 auto;'>
  <div id="map" style='width: 95%; height: 600px; margin: 0 auto;'>
<%= render "gmap" %>
  </div>

<p id="Camps near by"><%= notice %></p>

</div>

<div>

<p>
  <strong>Name:</strong>
  <%= @camp.name %>
</p>

<p>
  <strong>Weeks:</strong>
  <%= @camp.weeks %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @camp.cost %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @camp.telephone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @camp.website %>
</p>

<p>
  <strong>Address:</strong>
  <%= @camp.address %>
</p>

</div>

