<div>

<p>
  <strong>Name:</strong>
  <%= @camp.name %>
</p>

<p>
  <strong>Weeks:</strong>
  <%= @camp.weeks %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @camp.cost %>
</p>

<p>
  <strong>Telephone:</strong>
  <a href=tel:<%= @camp.telephone %> name=tel:<%= @camp.telephone %> > <%= @camp.telephone %> </a>
</p>

<p>
  <strong>Website:</strong>
  <a href=<%= @camp.website %> ><%= @camp.website %></a>
</p>

<p>
  <strong>Address:</strong>
  <%= @camp.address %>
</p>

</div>

