<section id="home" data-speed="4" data-type="background">
  <h1 class="navbar-brand text-center"><%= link_to 'CampScout', root_path %></h1><br>
  <div style='width: 95%; margin: 0 auto;'>
    <div id="map" class="google-maps" style='width: 95%; height: 600px; margin: 0 auto; border-radius: 20px 20px;'>
  <%= render "camps/gmap" %>
    </div>
  </div>
  <div class="text-center"><%= render "/layouts/search_bar" %></div>
</section>


<div class="col-md-10 col-md-offset-1">
  <h2>
  	Comparison List
  </h2>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Weeks</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <tbody>
  <% @cart.camps.each do |camp| %>
    <tr>      
        <td><%= camp.name %></td>
        <td><%= camp.weeks %></td>
        <td><%= camp.cost %></td>
        <td><%#= link_to 'Destroy' camp action: "destroy" %></td>
        <td>
          <%= link_to 'Destroy', compare_path(camp.id), method: :delete %>
          <%#= form_tag(action: "destroy") do %>
          <%#= hidden_field :camp_id, value: camp.id %>
          <%#= submit_tag "Remove" %>
          <%# end %>
        </td>   
    </tr>
    <% end %>
  </tbody>
  </table>  
  <%#= form_tag(action: "empty_cart") do %>
    <%#= submit_tag "Remove" %>
  <%# end %>
</div>

